# Puerto del API (Express)
PORT=3000

# SQL Server
DB_SERVER=TU_SERVIDOR\SQLEXPRESS
DB_DATABASE=TU_BASE_DE_DATOS
DB_USER=TU_USUARIO
DB_PASSWORD=TU_PASSWORD
DB_PORT=1433

# Opcionales
DB_ENCRYPT=false
DB_TRUST_CERT=true

# JWT
JWT_SECRET=CAMBIA_ESTE_SECRETO
JWT_EXPIRES_IN=8h
